<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/head.ejs') %>
            <title>My CF Stats</title>
    </head>

    <body>
        <div class="head">
            <h1>CF Stats </h1>
        </div>
        <div class="main">
            <div class="multiSection common-section">
                <div class="section-header">
                    <h1>This is Multi Section</h1>
                    <div class="stylishBar"></div>
                </div>
                <div class="section-data" id="multiTag">
                    <% multipleTag.forEach(element=> { %>
                        <div class="data">
                            <%= element.tag %> : <%= element.count %>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="singleSection common-section">
                <div class="section-header">
                    <h1>This is Single Section</h1>
                    <div class="stylishBar"></div>
                </div>
                <div class="section-data" id="singleTag">
                    <% singleTag.forEach(element=> { %>
                        <div class="data">
                            <%= element.tag %> : <%= element.count %>
                        </div>
                        <% }) %>
                </div>
            </div>
            <div class="stats common-section">
                <div class="section-header">
                    <h1>Some Stats:</h1>
                    <div class="stylishBar"></div>
                </div>
                <div class="" id="stats">
                    <h3>Total Submissions : <%= totalSubmitted  %>  </h3>
                    <h3>Total Solved : <%= totalSolved  %>  </h3>
                    <br>
                    <h3>Today Solved  : <%= today.size  %>  </h3>
                    <h3>Last 3 days Solved  : <%= last3Day.size   %>  </h3>
                    <h3>Last week Solved (from Saturday)  : <%= lastWeek.size   %>  </h3>
                    <br>
                    <h3 style="color:#E45826 ;">This Month Solved  : <%= lastMonth.size   %>  </h3>
                    <br>
                    <h3>Difficulty Wise Solved: </h3>
                    <br>
                    <hr width="80%"   style="margin-bottom: 5px ;border: none; border-top: 3px solid aqua;">
                    <% problemGrade.forEach(element => { %>
                        <h2> <%= element.tag %>   = <%= element.count %>  </h2>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="footer">
            <%- include('../partials/footer'); %>
        </div>

    </body>

</html>